<v-app :dark="darkMode">
  <progress-bar :progress="busyPercent" />
  <v-toolbar clipped-left app>
    <img :src="logo" :class="$style.logo" @click="resetCamera()" />
    <span class="title">KraK</span>
    <v-spacer />
    <!-- <v-slider
      :class="$style.slider"
      hide-details
      v-model="resolution"
      :max="60"
      :min="3"
      :step="1"
    /> -->
    <!-- <v-spacer /> -->
    <v-switch :class="$style.switch" hide-details v-model="darkMode" />
  </v-toolbar>

  <navigation-drawer />

  <!-- <remote-rendering-view :client="client" /> -->
  <v-content>
    <vtk-view ref="vtkViewComponent" />
    <v-tabs>
      <v-tab>Editor</v-tab>
      <v-tab-item>
        <v-card flat>
          <code-editor />
        </v-card>
      </v-tab-item>
      <!-- <v-tab>Monaco</v-tab>
      <v-tab-item>
        <v-card flat>
          <monaco-editor />
        </v-card>
      </v-tab-item> -->
      <v-tab>Console</v-tab>
      <v-tab-item>
        <v-card flat>
          <console />
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-content>
  <!-- <div :id="editorId" style="width: 100%; height: 100%;"></div> -->
  <!-- <remote-rendering-view :client="client" />
    <vtk-view ref="vtkViewComponent" /> -->
  <!-- </v-content> -->
</v-app>
